<template>
    <h1>Loading... If it doesn't work, please contact the website's administrator.</h1>
</template>

<script>
export default {
    beforeMount() {
        function get(name) {
            name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search)
            if (name) {
                return decodeURIComponent(name[1])
            }
        }
        const token = get('token')
        window.opener.postMessage(token)
    },
}
</script>