<template>
    <v-card>
            <v-card-title>Account settings</v-card-title>
            <v-card-title>
                Account management
            </v-card-title>
            <v-card-actions>
                <v-btn color="red" @click="deleteAccount()">Delete my Account</v-btn>
                <v-btn color="blue" @click="dowloadData()">Get all my stored data</v-btn>
            </v-card-actions>
            <v-card-title>
                Edit profile
            </v-card-title>
            <v-form>
                <v-card-subtitle>Account name
                     <v-text-field v-model="name" placeholder="Perry the platypus!"/>
                </v-card-subtitle>
                <v-card-subtitle>Your biography
                    <v-textarea placeholder="Some crazy text..." v-model="bio"/>
                </v-card-subtitle>
                
                <v-card-actions>
                    <v-btn color="blue" disabled @click="validateForm()">Validate</v-btn>
                </v-card-actions>
            </v-form>
            <div v-if="!this.$store.state.Session.user.discord || !this.$store.state.Session.google">
                <v-card-title>
                    Link other accounts
                </v-card-title>
                <v-card-actions>
                    <v-btn v-if="!this.$store.state.Session.user.google" @click="linkAccount('google')">
                        <v-icon>mdi-google</v-icon>
                        Link Google
                    </v-btn>
                    <v-btn v-if="!this.$store.state.Session.user.discord" @click="linkAccount('discord')">
                        <v-icon>mdi-discord</v-icon>
                        Link Discord
                    </v-btn>
                </v-card-actions>
            </div>
    </v-card>
</template>

<script>
import { deleteProfile } from '../../core/api/User'
export default {
    data() {
        return {
            bio: this.$store.state.Session.user.bio,
            name: this.$store.state.Session.user.username
        }
    },
    methods: {
        async deleteAccount() {
            await deleteProfile()
            this.$store.dispatch('Session/logout')
            this.$router.push('/')
            this.$store.dispatch('Notifications/push', {
                timeout: 5000,
                message: 'You deleted your account.',
                color: 'red',
            })
        },
        dowloadData() {
            const blob = new Blob([JSON.stringify(this.$store.state.Session.user)], {type: 'application/force-download'})
            function saveFile(blob, filename) {
                if (navigator.msSaveOrOpenBlob)
                    window.navigator.msSaveOrOpenBlob(blob, filename)
                else {
                    const a = document.createElement('a');
                    document.body.appendChild(a);
                    const url = window.URL.createObjectURL(blob)
                    a.href = url
                    a.download = filename
                    a.click()
                    setTimeout(() => {
                        window.URL.revokeObjectURL(url)
                        document.body.removeChild(a)
                    }, 0)
                }
            }
            saveFile(blob, `${this.$store.state.Session.user.username}-${this.$store.state.Session.user.id}.json`)
        },
        linkAccount(provider) {
            this.$store.dispatch('Session/link', provider)
        },
        validateForm() {
            alert('not implemeted')
        },
    },
}
</script>

<style>

</style>