<template>
<div>
    <div v-if="!user.id">
        Loading user data.
    </div>
    <div v-else>
        <v-card class="mx-auto" max-width="100%" flat tile>      
            <v-img :src="user.avatar" class="align-end" height="150px">
            </v-img>
            <v-card-title>
                <v-list-item-avatar color="grey" height="80px" width="80px">
                    <v-img :src="user.avatar" class="align-end" ></v-img> 
                </v-list-item-avatar>
                {{ user.username }} <v-card-subtitle> <v-badge color="blue" v-for="role in user.roles" v-bind:key="role.bit" :content="role.name" inline></v-badge> </v-card-subtitle>
            </v-card-title>
            <v-card-subtitle>
                {{ user.bio }} <br/> {{ user.reputation }} reputation points.
            </v-card-subtitle>
                <v-flex class="d-flex justify-space-around align-content-center justify-center flex-wrap flex-xs-wrap flex-sm-nowrap">
                    <v-container>
                        <v-card-title>Wins</v-card-title>
                        <v-card-subtitle>
                            {{ user.wins }} win games
                        </v-card-subtitle>
                        <v-progress-circular size="140" :value="winStreak" width="10" color="light-blue" rotate="-90">
                            {{ Math.floor(winStreak) }}%
                        </v-progress-circular>
                    </v-container>
                    <v-container>
                        <v-card-title>Lost</v-card-title>
                        <v-card-subtitle>
                            {{ user.lost }} lost games
                        </v-card-subtitle>
                        <v-progress-circular size="140" :value="lostStreak" width="10" color="red" rotate="-90">
                            {{ Math.floor(lostStreak) }}%
                        </v-progress-circular>
                    </v-container>
                </v-flex>
        <v-card-actions>
            <v-btn text @click="upvote(user.id)">Upvote</v-btn>
            <v-btn color="red" text v-if="admin" @click="deleteAccount()">Delete account</v-btn>
        </v-card-actions>
    </v-card>
    </div>
</div>
</template>

<script>
import { mapState } from 'vuex';
import { API_ENDPOINT } from '../../core/api';
import { deleteProfile, getProfile } from '../../core/api/User';

export default {
    data() {
        return {
            user: { loaded: false },
            winStreak: 0,
            lostStreak: 0,
            admin: this.$store.state.Session.user.roles.some((x) => x.bit === 0x1 || x.bit === 0x2),
        }
    },
    beforeCreate() {
        if (!this.$store.state.user.user[this.$route.params.id]) {
            this.$store.dispatch('user/load', this.$route.params.id)
        }
    },
    async created() {
        this.user = await getProfile(this.$route.params.id)
        this.winStreak = ((this.user.wins) / ( (this.user.wins + this.user.lost) )) * 100
        this.lostStreak = ((this.user.lost) / ( (this.user.wins + this.user.lost) )) * 100
    },
    methods: {
        async deleteAccount() {
            await deleteProfile(this.$route.params.id)
            this.$store.dispatch('Notifications/push', {
                timeout: 5000,
                message: `You deleted ${ this.user.username }'s account.`,
                color: 'yellow',
            })
        },
    },
}
</script>

<style>

</style>