<template>
    <v-card class="mx-auto" max-width="85%">          
        <v-list-item three-line>
            <v-list-item-avatar width="100px" height="100px" color="blue">
                <v-img :src="user.avatar" height="100px" class="align-end" ></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
                <div class="overline pa-4">
                    <h1 :style="`font-size: 25px;color: ${index === 0 ? 'gold' : (index === 1 ? 'silver': (index === 2 ? '#cc6633' : 'white'))};`"> 
                        {{index === 0 ? '🏅' : (index === 1 ? '🥈': (index === 2 ? '🥉' : '🎖'))}} #{{ index + 1 }}
                    </h1>
                </div>
                <h2 class="pa-2">
                    {{ user.username }}
                    <v-badge color="blue" v-for="role in user.roles" v-bind:key="role.bit" :content="role.name" inline></v-badge>
                </h2>
                <v-list-item-subtitle>
                    {{ user }}
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-card-actions>
            <v-btn text :to="`/users/${user.id}`">View profile</v-btn> <br/>
            <v-btn text @click="upvote(user.id)">Upvote</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: ['user', 'index'],
}
</script>