<template>
    <div>
        <h1><b>Kuizz Privacy policy</b></h1>
        <v-divider/>
        <div class="formatted">
            <h3>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</h3>
            Topics: 
            <ul>
                <li>- What data do we collect?</li>
                <li>- How do we collect your data?</li>
                <li>- How will we use your data?</li>
                <li>- How do we store your data?</li>
                <li>- What are your data protection rights?</li>
                <li>- What are cookies?</li>
                <li>- How do we use cookies?</li>
                <li>- How to manage your cookies</li>
                <li>- Changes to our privacy policy</li>
                <li>How to contact us</li>
            </ul>

            <h2>What data do we collect?</h2>
            <p>
                
                We collect various data about that are required for our service, there is two kinds of data, the data we store and the data we recieve,
                our service needs your google or discord account informations, we only store a small amount of data, no private data, only your name, 
                your unique identifier and your profile picture link, this data may be stored for various usage on the website, such as the leaderboard
                feature. We also collect data on your score to create stats for your profile, this is useful for sorting. By singing in on our website, 
                we create you a profile who stores various informations described upper.
            </p>

            <h2>How do we collect your data?</h2>
            <p>
                We only collect data required for our service with your consent, except your points and reputation. By agreeing the Oauth2 consent for the 
                login feature, your allow us to retieve the necessary data for our service to work. We also assign you a default state that contains a role
                that describe your abilities on the website.
            </p>

            <h2>How will we use your data?</h2>
            <p>
                We use the data in many different ways, we do not do analytics for now, but we may on the future, we do not store the questions you answer,
                we also use the data for the your profile page and leaderboard, this is necessary.
            </p>

            <h2>How do we store your data?</h2>
            <p>
                We store our data in a RethinkDb database, we do not ensure encryption of the data since we do not store any personal information that enters the RGPD scope.
            </p>

            <h2>What are your data protection rights?</h2>
            <p>
                You have the rights to download all the data we store on you, you can delete your account entirely from our servers as well.
            </p>

            <h2>What are cookies?</h2>
            <p>
                Cookies are usually small text files, given ID tags that are stored on your computer's browser directory or program data subfolders. Cookies are created when you use your browser to visit a website that uses cookies to keep track of your movements within the site, help you resume where you left off, remember your registered login, theme selection, preferences, and other customization functions.The website stores a corresponding file(with same ID tag)to the one they set in your browser and in this file they can track and keep information on your movements within the site and any information you may have voluntarily given while visiting the website, such as email address.
                Cookies are often indispensable for websites that have huge databases, need logins, have customizable themes, other advanced features.
                Cookies usually don't contain much information except for the url of the website that created the cookie, the duration of the cookie's abilities and effects, and a random number. Due to the little amount of information a cookie contains, it usually cannot be used to reveal your identity or personally identifying information.However, marketing is becoming increasingly sophisticated and cookies in some cases can be agressively used to create a profile of your surfing habits.
                There are two types of cookies: session cookies and persistent cookies. Session cookies are created temporarily in your browser's subfolder while you are visiting a website. Once you leave the site, the session cookie is deleted. On the other hand, persistent cookie files remain in your browser's subfolder and are activated again once you visit the website that created that particular cookie. A persistent cookie remains in the browser's subfolder for the duration period set within the cookie's file.
            </p>

            <h2>How do we use cookies?</h2>
            <p>
                We use cookies for indentifying your browser and store our session data. We mainly use cookies for tracking issues on the browser such as errors.
            </p>

            <h2>How to manage your cookies</h2>
            <p>You can read more about deleting your cookies <a  target="_tab" rel="noopener noreferrer" href="https://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html">here</a></p>

            <h2>Changes to our privacy policy</h2>
            <p>You may be notified when our privacy policy updates.</p>

            <h2>How to contact us</h2>
            <p>If you need to contact us, you can do so with the webmaster's email or Discord.
                <br/>
                <a href="mailto:matthieu974fr.pignolet@gmail.com">My email</a> <br/>
                My discord: Matthieu#2050
            </p>
        </div>
    </div>
</template>

<style scoped>
h1 {
  text-align: center !important;
  padding-bottom: 50px;
}

.formatted {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
li {
    margin-left: 15px;
}
</style>