<template>
    <div>
        <h1><b>Kuizz Terms of Service</b></h1>
        <v-divider/>
        <div class="formatted">
            <p>
                <i>Last updated: 09/04/2020</i> <br/>
            </p>
            <p>
                Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the
                service and the website operated by Matthieu ("us", "we", or "our").
            </p>
            <p>
                <b>Your access to and use of the Service is conditioned on your acceptance of and compliance with
                these Terms. These Terms apply to all visitors, users and others who access or use the Service.</b>
            </p>
            <p>
                By accessing or using the Service you agree to be bound by these Terms. If you disagree
                with any part of the terms then you may not access the Service.
            </p>
            <h2>Termination</h2>
            <p>
                
                We may terminate or suspend access to our Service immediately, without prior notice or liability, for
                any reason whatsoever, including without limitation if you breach the Terms.
            </p>
            <p>
                All provisions of the Terms which by their nature should survive termination shall survive
                termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and
                limitations of liability.
            </p>
            <h2>Links To Other Web Sites</h2>
            <p>
                Our Service may contain links to third-party web sites or services that are not owned or controlled
                by Kuizz.
                Kuizz has no control over, and assumes no responsibility for, the content,
                privacy policies, or practices of any third party web sites or services. You further acknowledge and
                agree that Kuizz shall not be responsible or liable, directly or indirectly, for any
                damage or loss caused or alleged to be caused by or in connection with use of or reliance on any
                such content, goods or services available on or through any such web sites or services.
            </p>
            <h2>Changes</h2>
            <p>
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
                revision is material we will try to provide at least 30 (change this) days' notice prior to any new terms
                taking effect. What constitutes a material change will be determined at our sole discretion.
            </p>
            <h2>Contact Us</h2>
            <p>
                If you have any questions about these Terms, please contact us.
            </p>
        </div>
    </div>
</template>

<style scoped>
h1 {
  text-align: center !important;
  margin: 50px;
}

.formatted {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
</style>