<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <meta content="<%= htmlWebpackPlugin.options.long_title %>" property="og:title">
    <meta content="<%= htmlWebpackPlugin.options.description %>" property="og:description">
    <meta content="<%= htmlWebpackPlugin.options.page_title %>" property="og:site_name">
    <meta content='https://kuizz.matthieu-dev.xyz/bande1.png' property='og:image'>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#D7696D"/>
    <link rel="apple-touch-icon" href="/img/icons/K_Letter-512x512.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.0.45/css/materialdesignicons.min.css" integrity="sha256-nRyVCcVDSlWN9d68r9M+rKBLE4k9Cp1j3XSY/umjvvU=" crossorigin="anonymous" />
  </head>
  <body>
    <noscript>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        html {
          background: linear-gradient(#D7696D, #FF7043) fixed;
        }
        strong {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          font-family: 'Roboto', sans-serif;
        }
        img {
          display: inline;
          padding: 20px;
        }
      </style>
      <strong>
        <h1>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</h1>
        <img src="https://discordapp.com/assets/263a7f4eeb6f69e46d969fa479188592.svg"/>
      </strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
