<template>
  <div>
    <div class="content">
    <h1> <b>Welcome to Kuizz ( VIP )! 😊</b> <br/><br/> A <u>fun</u> and <u>competitive</u> <u>quizz</u> website! </h1>
    <p>
      With Kuizz you can <b>challenge your friends</b> in <b>custom parties</b>, be <u>against the world</u> with the leaderboard mode or <b>work as a team</b> with the <u>team based rank system</u>!
    </p>
    <p>
      KuiZZ allows you to create custom quizz as well as use a public database.
    </p>
    <p>
      KuiZz works with realtime updates, so you can be updated on whatever is going on!
    </p>
    <h2>Why should i use <u>Kuizz</u> ?</h2>
    <ul>
      <li><b>Kuizz is secure</b>, you can't cheat on our platform. All the data are encrypted according to the RPGPD and our services use mTLS encryption between them.</li>
      <li><b>Simple to use,</b> creating a game/party is quite simple, such as clicking on a button. Our interface is user-friendly</li>
      <li><b>Stable</b>, our service is pretty stable, with a 99% SLA.</li>
      <li><b>Free</b>, our service is free.</li>
    </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Home',
}
</script>