<template>

<div>
    <v-navigation-drawer app clipped class="deep-orange lighten-2" permanent :temporary="drawer" :mini-variant="!drawer">
        <v-list>       
            <v-img :aspect-ratio="5/4" v-if="loggedIn" :src="user.avatar">
                <v-row align="end" class="pa-3 fill-height">
                    <v-col>
                        <v-list-item-title v-if="drawer">
                            <b style="color: gray;font-size: 20px;">{{ user.username }}</b>
                        </v-list-item-title>
                        <v-list-item-subtitle v-if="drawer">
                            <v-badge color="blue" v-for="role in user.roles" v-bind:key="role.bit" :content="role.name" inline></v-badge>
                        </v-list-item-subtitle>
                    </v-col>
                </v-row>
            </v-img>

            <v-list-item  to="/">
                <v-list-item-icon><v-icon>mdi-home</v-icon></v-list-item-icon>
                <v-list-item-content>Home</v-list-item-content>
            </v-list-item>

            <div v-if="loggedIn">
                <v-list-item @click="logout()">
                    <v-list-item-icon><v-icon>mdi-logout</v-icon></v-list-item-icon>
                    <v-list-item-content>Logout</v-list-item-content>
                </v-list-item>
                <v-list-item to="/settings">
                    <v-list-item-icon><v-icon>mdi-settings</v-icon></v-list-item-icon>
                    <v-list-item-content>Settings</v-list-item-content>
                </v-list-item>
                <v-list-item to="/play">
                    <v-list-item-icon><v-icon>mdi-play</v-icon></v-list-item-icon>
                    <v-list-item-content>Competitive game</v-list-item-content>
                </v-list-item>
                <v-list-item to="/leaderboard">
                    <v-list-item-icon><v-icon>mdi-chart-line</v-icon></v-list-item-icon>
                    <v-list-item-content>Global leaderboard</v-list-item-content>
                </v-list-item>
            </div>

            <div v-else>
                <v-list-item link @click="login('google')">
                    <v-list-item-icon><v-icon>mdi-google</v-icon></v-list-item-icon>
                    <v-list-item-content>Login with Google</v-list-item-content>
                </v-list-item>
                <v-list-item link @click="login('discord')">
                    <v-list-item-icon><v-icon>mdi-discord</v-icon></v-list-item-icon>
                    <v-list-item-content>Login with Discord</v-list-item-content>
                </v-list-item>
            </div>
            <v-list-item to="/tos">
                <v-list-item-icon><v-icon>mdi-book-open-page-variant</v-icon></v-list-item-icon>
                <v-list-item-content>Terms of service</v-list-item-content>
            </v-list-item>
            <v-list-item to="/privacy-policy">
                <v-list-item-icon><v-icon>mdi-account-alert</v-icon></v-list-item-icon>
                <v-list-item-content>Privacy policy</v-list-item-content>
            </v-list-item>
            <v-list-item to="/about">
                <v-list-item-icon><v-icon>mdi-information-variant</v-icon></v-list-item-icon>
                <v-list-item-content>About Kuizz</v-list-item-content>
            </v-list-item>
            <v-list-item to="/about">
                <v-list-item-icon><v-icon>mdi-account-check</v-icon></v-list-item-icon>
                <v-list-item-content>Thanks</v-list-item-content>
            </v-list-item>
            <v-list-item @click="modalOpenned = true">
                <v-list-item-icon><v-icon>mdi-weather-night</v-icon></v-list-item-icon>
                <v-list-item-content>theme</v-list-item-content>
            </v-list-item>
        </v-list>
        <template v-slot:prepend>
            <v-list-item @click="switchMenu()">
                <v-list-item-action>
                    <v-icon>{{ drawer ? 'mdi-arrow-collapse-left' : 'mdi-arrow-collapse-right' }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Close</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </template>
    </v-navigation-drawer>

    <v-app-bar app clipped-left class="deep-orange lighten-2">
      <v-app-bar-nav-icon @click.stop="switchMenu()"/>
      <v-toolbar-title>
          <LogoSvg class="img-logo" :color="$vuetify.theme.dark ? 'white' : 'black'" />
      </v-toolbar-title>
    </v-app-bar>

    <div class="text-center">
        <v-dialog v-model="modalOpenned" width="500">
            <v-card>
                <v-card-title class="headline" primary-title>Visual options</v-card-title>
                <v-card-text>
                    <v-card-title>General options</v-card-title>
                    <v-card-subtitle>
                        <v-switch v-model="darkModeChosed" label="Dark mode"></v-switch>
                    </v-card-subtitle>
                </v-card-text>
                <v-divider/>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn color="primary" text @click="modalOpenned = false; validateOptions()">Validate</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</div>

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
const LogoSvg = () => import('./LogoSvg.vue')

@Component({
    components: {
        LogoSvg,
    },
    data() {
        return {
            drawer: false,
            modalOpenned: false,
            darkModeChosed: false,
        }
    },
    computed: {
        loggedIn(this: NavBar): boolean {
            return this.$store.state.Session.loggedIn
        },
        user(this: NavBar) {
            return this.$store.state.Session.user
        },
    },
    methods: {
        login(this: NavBar, provider: string) {
            this.$store.dispatch('Session/login', provider)
        },
        logout(this: NavBar) {
            this.$store.dispatch('Session/logout')
            this.$router.push('/')
        },
        switchMenu() {
            this.$data.drawer = !this.$data.drawer
        },
        validateOptions() {
            this.$vuetify.theme.dark = this.$data.darkModeChosed
            this.$store.dispatch('Customization/setDarkTheme')
        },
    },
    mounted() {
        this.$data.darkModeChosed = this.$vuetify.theme.dark
    },
})
export default class NavBar extends Vue {}
</script>

<style scoped>
.img-logo {
    height: 50px;
    padding: 5px;
    vertical-align: middle;
}
</style>