<template>
    <div>
        <v-snackbar v-model="display" :timeout="timeout" top>
        New version available!
        <v-spacer />
        <v-btn
          text
          color="primary"
          @click="refreshApp()"
        >
            Refresh
        </v-btn>
        <v-btn
          @click="display = false"
        >
          Close
        </v-btn>
      </v-snackbar>
    </div>
</template>

<script>
export default {
    data() {
        return {
            display: false,
            timeout: 5000,
            reloading: false,
        };
    },
    created() {
        document.addEventListener('updatedSw', this.showUI, { once: true })
        navigator.serviceWorker.addEventListener('controllerchange', () => {
            if (this.refreshing) {
                return
            }
            this.refreshing = true;
            window.location.reload();
        })
        navigator.serviceWorker.getRegistration('/').then((x) => x.update())

        navigator.serviceWorker.getRegistration('/').then((x) => {
            if(x.waiting)
                this.display = true
        })
    },
    methods: {
        showUI(e) {
            this.display = true
        },
        refreshApp() {
            this.display = false
            navigator.serviceWorker.getRegistration('/').then((x) => x.waiting.postMessage('skipWaiting'))
        },
    },
}
</script>
